* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    sans-serif;
  background: #f4f4f6;
  color: #111;
  -webkit-font-smoothing: antialiased;
}

#app {
  min-height: 100vh;
  min-width: 100vw;
}

.page {
  padding: 72px 16px 16px;
  max-width: 600px;
  margin: 0 auto;
}

:root{
    --botao-claro: #2761AA;
    --fundo-claro: #F6F6F2;
    --principal-claro: #003D66;
    --destaque-claro: #6084B0;
    --texto-claro: #141414;
    --placeholder: #9A9A9A;
}