* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    sans-serif;
  background: #ffffff;
  color: #111;
  -webkit-font-smoothing: antialiased;
}

#app {
  min-height: 100dvh;
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page {
  padding: 40px 16px 16px;
  max-width: 600px;
  margin: 0 auto;
  flex: 1;
}
footer {
  width: 100%;
  margin-top: auto;
  padding-bottom: 20px;
}
:root{
    --botao-claro: #2761AA;
    --fundo-claro: #ffffff;
    --principal-claro: #003D66;
    --destaque-claro: #6084B0;
    --texto-claro: #141414;
    --placeholder: #9A9A9A;
}